
/* Global */
@import url(//fonts.googleapis.com/css?family=Open+Sans:400,600,700);
@font-face{
    font-family:TIM Sans;
    src:url(fonts/TIMSansWeb-Regular.woff2);
    font-weight:100;
    font-style:normal;
}
@font-face{
    font-family:TIM Sans;
    src:url(fonts/TIMSansWeb-Light.woff2);
    font-weight:300;
    font-style:normal;
}
@font-face{
    font-family:TIM Sans;
    src:url(fonts/TIMSansWeb-Regular.woff2);
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:TIM Sans;
    src:url(fonts/TIMSansWeb-Bold.woff2);
    font-weight:700;
    font-style:normal;
}
@font-face{
    font-family:TIM Sans;
    src:url(fonts/TIMSansWeb-Heavy.woff2);
    font-weight:800;
    font-style:normal;
}

body {
    font-family: 'TIM Sans', sans-serif;
}

/* Top Bar */
.top-bar {
	width: 100%;
	margin-bottom: 15px;
	overflow: hidden;
	height: 90px;
	display: flex;
	align-items: center;
    justify-content: space-between;
}

.top-bar .logo {
	margin-left: 10px;
	margin-right: 10px;
	max-width: 20vw;
	object-fit: cover;
}

.top-bar .vivo-titulo {
	flex: 1;
}

.vivo-titulo {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	flex-direction: column;
	padding-right: 20px;
	height: 100%;
}

.modal-footer .btn {
	margin-bottom: 2px !important;
}

/* Nav Pills */
.nav-pills {
	display : flex;
	margin-bottom: 15px;
}

.nav-pills > li {
	flex: 1 1 0;
}

.nav-pills > li + li {
	margin-left: 15px;
}

.nav-pills > li > a{
	padding: 10px 0;
	border-radius: 0.7rem;
}

.compressed .nav-pills  > li > a {
	font-size: 0.9em;
	padding: 12px 0 50px 0;
}

.compressed .nav-pills  > li + li {
	margin-left: 7px;
}

/* Carousel */
.vivo-plan {
	display: flex;
	align-items: stretch

}
.vivo-plan .carousel-inner {
	flex: 1;
}

/* Tag */
.vivo-tag {
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  object-fit: fill;
/*  max-height: 15vh;*/
  /* width: calc(100% - 30px); */
}

/* Ajuste para telas pequenas */
@media (max-device-height: 568px) {
	body {
		font-size : 11px;
	}

	.accessory-features p {
		font-size : 1em;
	}

	.vivo-wearable tr:nth-child(2) > td {
		padding: 20px 15px !important;
	}

	.vivo-tabela-plano.table td {
		font-size: 14px !important;
	}
	.vivo-tabela-plano.table td:last-child {
		font-size: 16px !important;
	}

	h3.vivo-titulo-plano {
		font-size: 18px;
	}
}


@media all and (orientation: portrait) {
	.no-portrait {
		display: none;
	}
}

@media all and (orientation: landscape) {
	.no-landscape {
		display: none;
	}

	.vivo-titulo {
		min-height: 35px;
	}

	.top-bar {
		background-size: 19%;
		margin-bottom: 10px;
		height: 80px;
		object-fit: cover;
	}

	.top-bar .vivo-titulo {
		width: 78%;
	}

	.container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}

	.nav-pills {
		margin-bottom: 10px;
	}

	.vivo-tag {
		width: calc(100% - 20px);
		max-height: 15vh;
		object-fit: cover !important;
	}

	.panel-body > h3 {
		margin-bottom: 5px;
	}

	.carousel .jumbotron {
		padding: 10px;
	}

	.table td {
		padding: 4px 10px !important;
	}

	.table {
		margin-bottom: 10px;
	}
}
